/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Roboto", sans-serif;
}

.background-image-globally {
  background-image: url("$assets/svelte.svg");
  width: 10rem;
  height: 10rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.pre {
  font-family: monospace;
  background-color: #d3d3d3;
  padding: 0.25rem;
  border-radius: 0.25rem;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.container-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.text-center {
  text-align: center;
}

.add-button {
  appearance: button;
  width: 120px;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.add-button:disabled {
  cursor: default;
}

.add-button:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

$pallete: (
  accent-blue: #025d93,
  light-blue: #86a9f4,
  accent-purple: #3e084c,
  light-purple: #481865,
  white: #ffffff,
  accent-rose: #e91c4c,
  light-rose: #e3526e,
);
