/* Variables and mixins declared here will be available in all other SCSS files */
$pallete: (
  accent-blue: #025d93,
  light-blue: #86f4ee,
  accent-purple: #3e084c,
  light-purple: #481865,
  white: #ffffff,
  accent-rose: #e91c4c,
  light-rose: #e3526e,
);
